[submodule "components/esp-dsp"]
	path = components/esp-dsp
	url = https://github.com/espressif/esp-dsp
[submodule "components/flac/flac"]
	path = components/flac/flac
	url = https://github.com/xiph/flac.git
[submodule "components/opus/opus"]
	path = components/opus/opus
	url = https://github.com/xiph/opus
[submodule "components/improv_wifi/Improv-WiFi-Library"]
	path = components/improv_wifi/Improv-WiFi-Library
	url = https://github.com/jnthas/Improv-WiFi-Library.git
[submodule "components/wifi_logger"]
	path = components/wifi_logger
	url = https://github.com/VedantParanjape/esp-wifi-logger.git
